*.swp
.DS_Store
.env
.env.*.php
.env.php
.idea
/bootstrap/compiled.php
/node_modules
/tests/logs/*
/vendor/*
/public/imagenes/articulos/*
/public/importacion/*
bower_components/
npm-debug.log
storage/database.sqlite
/.idea/workspace.xml
